.experiencePage {
    margin-top: 170px;
    width: 80vw;
    height: 70vh;
    margin-left: 15%;
    margin-right: 15%;
}

.experiencePage h1 {
    color: #CCD6F6;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    /* margin-bottom: 50px; */
}

.experiencePage h2 , h3 , p{
    margin-bottom: 10px;
}

.experiencePage h3, #yearTimeExperiencePage {
    color: #d7dae2;
    margin-left: 50px;
}

.experiencePage ul {
    margin-left: 40px;
}

.containerFirstItem , .containerSecondItem{
    font-family: 'Nunito', sans-serif;
    font-size: 19px;
    width: auto;
    height: 25%;
    margin: 50px 10% 100px 10px;
    color: white;
}

#listExperiencePage {
    color: #8892B0;
}

/* .containerSecondItem {
    margin-top: 50px;
} */



