.aboutText{
    color: #CCD6F6;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    padding-top: 100px;
    margin-left: 15%;
}

.aboutGrid{
    color: #CCD6F6;
    display: grid;
    width: fit-content;
    grid-template-columns: 1fr 1fr;
    /* margin-top: 125px; */
    margin-left: 15%;
}

.imgAbout{
    width: 430px;
    height: 456px;
    margin-top: 75px;
    margin-right: 275px;
    border-radius: 2%;
}

.describeAboutme{
    margin-top: 25px;
    margin-left: 15px;
    color: #8892B0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

#listorder{
    margin-top: 25px;
    line-height: 1.5em;
    /* list-style-image: url(./Coding-icon.png); */
    /* background-size: 20px; */
}
.about {
    width: 100%;
    height: 100vh;
}